@model IEnumerable<SoftTech.Models.Entites.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a id="sub" asp-action="Create">Crear empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Identificacion
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Fecha Contrato
            </th>
            <th>
                Salario
            </th>
            <th>
                Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.identification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name_emp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address_emp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contract_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_deptoNavigation.name_depto)
                </td>
                <td>
                    <select id="selectCRUD" onchange="redirectToView(this)">
                        <option value="" selected>Select an option</option>
                        <option value="@Url.Action("Edit", new { id = @item.id })">Editar</option>
                        <option value="@Url.Action("Details", new { id = @item.id })">Ver mas</option>
                        <option value="@Url.Action("Delete", new { id = @item.id })">Eliminar</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
