@model IEnumerable<SoftTech.Models.Entites.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Identificacion
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Fecha Contrato
            </th>
            <th>
                Salario
            </th>
            <th>
                Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.identification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name_emp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address_emp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contract_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_deptoNavigation.name_depto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
