@model IEnumerable<SoftTech.Models.Entites.Salary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a id="sub" asp-action="Create" asp-route-id_payroll="@ViewBag.Payroll.id">Agregar salario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Empleado
            </th>
            <th>
                Salario Mensual
            </th>
            <th>
                Horas Extra
            </th>
            <th>
                Salario Bruto
            </th>
            <th>
                Impuesto Renta Salario
            </th>
            <th>
                CCSS
            </th>
            <th>
                Salario Neto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_employeeNavigation.name_emp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_employeeNavigation.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horas_e)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gross_salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.income_tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ccss_amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.net_salary)
                </td>
                <td>
                    <select id="selectCRUD" onchange="redirectToView(this)">
                        <option value="" selected>Seleccione</option>
                        <option value="@Url.Action("Details", new { id = @item.id })">Ver mas</option>
                        <option value="@Url.Action("Delete", new { id = @item.id })">Eliminar</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
