@model IEnumerable<SoftTech.Models.Entites.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a id="sub" asp-action="Create">Crear departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name_depto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description_depto)
                </td>
                <td>
                    <select id="selectCRUD" onchange="redirectToView(this)">
                        <option value="" selected>Select an option</option>
                        <option value="@Url.Action("Edit", new { id = @item.id })">Editar</option>
                        <option value="@Url.Action("Details", new { id = @item.id })">Ver mas</option>
                        <option value="@Url.Action("Delete", new { id = @item.id })">Eliminar</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
