@model IEnumerable<SoftTech.Models.Client>

@{
    ViewData["SoftTech"] = "Client List";
}

<body id="bodyList">
    <h1>Lista de Clientes</h1>

    <p >
        <a id="sub" asp-action="Create">Crear Cliente</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Correo electrónico
                </th>
                <th>
                    Nombre de usuario
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        <select id="selectCRUD" onchange="redirectToView(this)">
                            <option value="" selected>Select an option</option>
                            <option value="@Url.Action("Edit", new { id = @item.id })">Editar</option>
                            <option value="@Url.Action("Details", new { id = @item.id })">Ver mas</option>
                            <option value="@Url.Action("Delete", new { id = @item.id })">Eliminar</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>